[submodule "libs/geometry_module"]
	path = libs/geometry_module
	url = git@github.com:I1Va/geometry_module.git
[submodule "libs/ReactorModel"]
	path = libs/ReactorModel
	url = git@github.com:I1Va/ReactorModel.git
[submodule "libs/MyGUI"]
	path = libs/MyGUI
	url = git@github.com:I1Va/MyGUI.git
